*{
    margin: 0px;
    padding: 0px;
}

/*............HEADER..........*/
header{
    background-color: #1A472A;
    color: white;
}

/*............NAVBAR...........*/
.header__nav ul{
    padding: 2rem;
    list-style-type: none;
}
.header__nav li{
    display: inline-block;
}
.header__nav a{
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: white;
    padding: 0.5rem;
}
.header__title{
    font-size: 1.5rem;
    color: white;
}

/*...........SECTION........*/
.section1{
    background-image:url(../imagenes/images.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 10rem;
}
.section1__title{
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    font-style: italic;
}
.section__title{
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 3rem;
    font-style: italic;
    padding: 4rem;
    margin: 1rem;
    display: flex;
    justify-content: center;
}
.section__image{
    display: flex;
    margin: 25px;
}
.section__content{
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
}
.section__content2 h2{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: flex-start;
}
.section__content2 p{
    display: flex;
}
section ul{
    padding: 2rem;
    list-style-type: none;
}

/*..............ARTICLE.......*/
article{
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    padding: 2rem;
    margin: 1rem;
    line-height: 1.8rem;
}
.article__title{
    color: black;
}

body {
    background-color: beige;
}
footer{
    background-color: #1A472A;
    color: white;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}
